/* Variables */
:root {
  --color-primary: #104670;
  --color-primary-b: #ff9b00;
}

/* General */

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Lato";
}

header {
  height: 100px;
  width: 100%;
  background-color: rgb(223, 103, 48);
  top: 0;
}

footer {
  height: 50px;
  background-color: rgb(40, 119, 184);
  height: 100px;
}

.wrapper {
  display: flex;
}

.content {
  margin-top: 100px;
  margin-right: 10vw;
}

nav {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  bottom: 0;
  height: 100vh;
  align-self: flex-start;
  flex: 1;
  overflow: auto;
  background: var(--color-primary);
  width: 400px;
  min-width: 250px;
  padding-top: auto;
  margin-right: 10vw;
  padding-right: 20px;
  padding-bottom: auto;
}

main {
  display: flex;
  flex: 0 1 50%;
}
