/* Variables */
:root {
  --color-primary: #104670;
  --color-primary-b: #ff9b00;
}

/* General */

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Lato";
}

html {
  scroll-behavior: smooth;
}

header {
  height: 100px;
  width: 100%;
  background-color: rgb(223, 103, 48);
  top: 0;
}

footer {
  height: 50px;
  background-color: rgb(40, 119, 184);
  height: 100px;
}

/* .wrapper {
  display: flex;
} */

.content {
  margin-top: 100px;
  margin-right: 10vw;
}

nav {

  height: 100vh;
  align-self: flex-start;
  background: var(--color-primary);
  min-width: 300px;
  padding-top: auto;
  margin-right: 10vw;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: auto;
}





/* Sidebar Toggle  */

.nav-wrapper {
  flex-direction: column;
  position: fixed;
  top:0;
  }

.sidebar {
  width: 0px;
  overflow:hidden;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -ms-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
}

.sidebar ul {
  width: 300px;
}
.sidebar.open {
  width: 300px;
}


button.show{
  display:block;

  border: 1px solid black;
  
}

button.show:hover{
  cursor: pointer;
}

button.show a {
  border-radius: 4px;
}

button.show a:hover,
button.show a:focus {
  color: var(--color-primary-b);
}